################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Commander/bin/Debug/netcoreapp3.1
/Commander/obj
/.vs
/Commander/.vs/Commander
/Websocket/WebSocterServer/WebSocterServer/obj/Debug/netcoreapp3.1
/Websocket/WebSocterServer/.vs/WebSocterServer/v16
/Websocket/WebSocterServer/WebSocterServer/obj
/Websocket/WebSocterServer/.vs/WebSocterServer
/Websocket/WebSocterServer/WebSocterServer/bin/Debug/netcoreapp3.1
/Websocket/WebSocterServer/SignalRProject/obj
/Websocket/WebSocterServer/SignalRProject/bin/Debug/netcoreapp3.1
/WeatherApi/.vs/WeatherApi/v16
/WeatherApi/WeatherApi/bin/Debug/netcoreapp3.1
/WeatherApi/WeatherApi/obj
